@tailwind base;
@tailwind components;
@tailwind utilities;

[dir="rtl"] {
  direction: rtl;
}

[dir="ltr"] {
  direction: ltr;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Cairo', 'Tajawal';
}
